package scanners

import (
	out "github.com/Turtle-In-Space/theia/pkg/output"
)

type TYPEScanner struct{}

func (s TYPEScanner) Run() {
	out.Info("called run for TYPEScanner")
}

func init() {
	Register("type", TYPEScanner{})
}
