/*
Copyright © 2025 Elias Svensson <elias.svensson63@gmail.com>
*/
package scanners

import (
	"os/exec"
)

// ----- Structs ----- //

type TYPEscanner struct {
	serviceNames []string
	name         string
}

// ----- Public Functions ----- //

// run the scan on a ipAddr for a port
func (s TYPEscanner) Run(service service, host host) {
	resultFileName, dataFileName := fileNames(host, s.name, "", service.port)

	cmd := exec.Command("cmd", "-o", "dataFileName")
	execute(s, cmd, resultFileName)
}

// get all aliases for service names
func (s TYPEscanner) ServiceNames() []string {
	return s.serviceNames
}

// get the name of this scanner
func (s TYPEscanner) Name() (name string) {
	return s.name
}

// ----- Private Functions ----- //

func init() {
	TYPEscanner := TYPEscanner{
		serviceNames: []string{"service"},
		name:         "TYPEscanner",
	}

	register("typeScanner", TYPEscanner)
}
